DB_DSN=postgres://postgres:postgres@nexus_db:5432/nexus_db?sslmode=disable
PORT=8080
REDIS_SENTINEL_ADDRS=nexus_redis_sentinel:26379
REDIS_MASTER_NAME=mymaster
RABBITMQ_URL=amqp://guest:guest@nexus_rabbitmq:5672/
